<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add to Purg</title>
    <!-- <link rel="stylesheet" href="/css/output.css"> -->
</head>
<body>
    <h1>Add an item to Purg</h1>
    <form action="/list" method="post">
        <label for="appliance">Appliance:</label><br>
        <input type="text" id="appliance" name="appliance" value="Model Number"><br>
        <label for="qty">Quantity</label><br>
        <input type="text" id="qty", name="qty" value="Amount"><br><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>